asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
python-dotenv
Pillow


# env controls
python-decouple

# third party modules
markdown       
django-filter  

# linting and test packages
flake8
black
faker
pytest-django

# production packages
gunicorn

# api docs
drf-yasg

# data base package
psycopg
psycopg-binary
